<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DNSStatus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>    
    <userSettings>
        <DNSStatus.Properties.Settings>
            <setting name="DNSStatus_WebReference_Dynect" serializeAs="String">
                <value>https://api2.dynect.net/SOAP/</value>
            </setting>
            <setting name="Customer_Name" serializeAs="String">
                <value>creditonebank</value>
            </setting>
            <setting name="RefreshTime" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Zone1" serializeAs="String">
                <value>creditonebank.com</value>
            </setting>
            <setting name="Zone2" serializeAs="String">
                <value>creditone.com</value>
            </setting>
            <setting name="PHX" serializeAs="String">
                <value>192.90.164.194,192.90.164.202,192.90.164.203,192.90.164.204,192.90.164.197,192.90.164.198,192.90.164.199</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="creditonebank_com__XO" serializeAs="String">
                <value>67.110.231.224</value>
            </setting>
            <setting name="creditonebank_com__CL" serializeAs="String">
                <value>67.128.166.129</value>
            </setting>
            <setting name="accept_creditonebank_com__XO" serializeAs="String">
                <value>67.110.231.247</value>
            </setting>
            <setting name="accept_creditonebank_com__CL" serializeAs="String">
                <value>67.128.166.130</value>
            </setting>
            <setting name="chat_creditonebank_com__XO" serializeAs="String">
                <value>67.110.231.227</value>
            </setting>
            <setting name="chat_creditonebank_com__CL" serializeAs="String">
                <value>67.128.166.135</value>
            </setting>
            <setting name="prequal_creditonebank_com__XO" serializeAs="String">
                <value>67.110.231.228</value>
            </setting>
            <setting name="prequal_creditonebank_com__CL" serializeAs="String">
                <value>67.128.166.136</value>
            </setting>
            <setting name="images_creditonebank_com__XO" serializeAs="String">
                <value>67.110.231.226</value>
            </setting>
            <setting name="images_creditonebank_com__CL" serializeAs="String">
                <value>67.128.166.134</value>
            </setting>
            <setting name="creditone_com__XO" serializeAs="String">
                <value>67.110.231.248</value>
            </setting>
            <setting name="creditone_com__CL" serializeAs="String">
                <value>67.128.166.131</value>
            </setting>
            <setting name="NLBUser" serializeAs="String">
                <value>jdrum.advisor</value>
            </setting>
            <setting name="NLB" serializeAs="String">
                <value>phx.fnbm.corp</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>svcdnsmgr</value>
            </setting>
            <setting name="Pwd" serializeAs="String">
                <value></value>
            </setting>
            <setting name="FailoverEnabled" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="NLBPwd" serializeAs="String">
                <value>^</value>
            </setting>
            <setting name="test_creditonebank_com__XO" serializeAs="String">
                <value>67.110.231.248</value>
            </setting>
            <setting name="test_creditonebank_com__CL" serializeAs="String">
                <value>67.128.166.131</value>
            </setting>
            <setting name="test2_creditonebank_com__XO" serializeAs="String">
                <value>67.110.231.247</value>
            </setting>
            <setting name="test2_creditonebank_com__CL" serializeAs="String">
                <value>67.128.166.130</value>
            </setting>
        </DNSStatus.Properties.Settings>
    </userSettings>
</configuration>