<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Add Folder Permissions</Title>
      <ShortCut>Add Folder Permissions</ShortCut>
      <Description>Add Folder Permissions</Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[$UsertoAdd = "user@domain.comm"  
$PermissiontoAdd = [Microsoft.Exchange.WebServices.Data.FolderPermissionLevel]::Reviewer  
$existingperm = $null  
foreach($fperm in $Inbox.Permissions){  
    if($fperm.UserId.PrimarySmtpAddress -ne $null){  
        if($fperm.UserId.PrimarySmtpAddress.ToLower() -eq $UsertoAdd.ToLower()){  
                $existingperm = $fperm  
        }  
    }  
}  
if($existingperm -ne $null){  
    $Folder.Permissions.Remove($existingperm)  
}   
$newfp = new-object Microsoft.Exchange.WebServices.Data.FolderPermission($UsertoAdd,$PermissiontoAdd)  
$Folder.Permissions.Add($newfp)  
$Folder.Update()  
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>