<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Bind To Contacts</Title>
      <ShortCut>Bind To Contacts</ShortCut>
      <Description>Bind to the Contacts </Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[# Bind to the Contacts Folder

$folderid= new-object Microsoft.Exchange.WebServices.Data.FolderId([Microsoft.Exchange.WebServices.Data.WellKnownFolderName]::Contacts,$MailboxName)   
$Contacts = [Microsoft.Exchange.WebServices.Data.Folder]::Bind($service,$folderid)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>