<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Bind To Common Views Folder</Title>
      <ShortCut>Bind To Common Views Folder</ShortCut>
      <Description>Find and bind to the Common Views folder</Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[# Bind to the Commonviews Folder in the Non_IPM_Subtree
$folderid = new-object Microsoft.Exchange.WebServices.Data.FolderId([Microsoft.Exchange.WebServices.Data.WellKnownFolderName]::Root,$MailboxName)   
$tfTargetFolder = [Microsoft.Exchange.WebServices.Data.Folder]::Bind($service,$folderid)  
$fvFolderView = new-object Microsoft.Exchange.WebServices.Data.FolderView(1) 
$SfSearchFilter = new-object Microsoft.Exchange.WebServices.Data.SearchFilter+IsEqualTo([Microsoft.Exchange.WebServices.Data.FolderSchema]::DisplayName,"Common Views") 
$findFolderResults = $service.FindFolders($tfTargetFolder.Id,$SfSearchFilter,$fvFolderView) 
if ($findFolderResults.TotalCount -gt 0){ 
	$CommonViews = $findFolderResults.Folders[0] 
	$CommonViews
} ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>