<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Create Appointment</Title>
      <ShortCut>Create Appointment</ShortCut>
      <Description>Create Appointment</Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[
##Create a Calendar Appointment  
$Appointment = New-Object Microsoft.Exchange.WebServices.Data.Appointment -ArgumentList $service  
#Set Start Time  
$Appointment.Start = (Get-Date).AddDays(7)  
#Set End Time  
$Appointment.End = (Get-Date).AddDays(7).AddHours(1)  
#Set Subject  
$Appointment.Subject = "Drink Coffee with Friend"  
#Set the Location  
$Appointment.Location = "Good Coffee Shop"  
#Set any Notes  
$Appointment.Body = "Dont forget to mention X and Y"  
#Create Appointment will save to the default Calendar  
 $Appointment.Save()  ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>