<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Download Attachment </Title>
      <ShortCut>Download Attachment </ShortCut>
      <Description>
      </Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[#Varible to hold the download directory
$downloadDirectory = "c:\temp"
#Loop through and download each attachment using the Attachment Name
foreach($attach in $Item.Attachments){
	$attach.Load()
	$fiFile = new-object System.IO.FileStream(($downloadDirectory + "\" + $attach.Name.ToString()), [System.IO.FileMode]::Create)
	$fiFile.Write($attach.Content, 0, $attach.Content.Length)
	$fiFile.Close()
	write-host "Downloaded Attachment : " + (($downloadDirectory + "\" + $attach.Name.ToString()))
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>