<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Extended Property Template Defination</Title>
      <ShortCut>Extended Property Template Defination</ShortCut>
      <Description>
      </Description>
      <Author>
      </Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[new-object Microsoft.Exchange.WebServices.Data.ExtendedPropertyDefinition(0xxxx, [Microsoft.Exchange.WebServices.Data.MapiPropertyType]::String)]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>