<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Search - AQS by RecievedDate</Title>
      <ShortCut>Search - AQS by RecievedDate</ShortCut>
      <Description>Search - AQS by RecievedDate</Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[$AQSString =  "System.Message.DateReceived:>" + $queryTime.ToString("MM/dd/yyyy")  
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>