<?xml version="1.0"?>
<Settings>
  <EmailSettings>
    <SMTPServer>192.168.1.8</SMTPServer>
    <SMTPPort>25</SMTPPort>
    <MailFrom>exchangeserver@uson.local</MailFrom>
    <MailTo>jbattista@optummso.com</MailTo>
    <MailTo>sbolding@optummso.com</MailTo>
    <MailTo>ddabel@optummso.com</MailTo>
    <MailCc></MailCc>
    <Subject>Exchange Server DAG Health Report</Subject>
  </EmailSettings>
</Settings>
