<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Get FreeBusy Permissions</Title>
      <ShortCut>Get FreeBusy Permissions</ShortCut>
      <Description>Get FreeBusy Permissions</Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[$folderid= new-object Microsoft.Exchange.WebServices.Data.FolderId([Microsoft.Exchange.WebServices.Data.WellKnownFolderName]::Calendar,$MailboxName)     
$Calendar = [Microsoft.Exchange.WebServices.Data.Folder]::Bind($service,$folderid)  
foreach($Permission in $Calendar.Permissions){  
    $rptObj = "" | Select User,FreeBusyRights  
    if($Permission.UserId.StandardUser -eq $null){  
        $rptObj.User = $Permission.UserId.PrimarySmtpAddress  
        $rptObj.FreeBusyRights = $Permission.ReadItems  
    }  
    else{  
        $rptObj.User = $Permission.UserId.StandardUser.ToString()  
        $rptObj.FreeBusyRights = $Permission.ReadItems  
    }  
    $rptObj  
}  ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>