<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Search - AQS Attachment Contents</Title>
      <ShortCut>Search - AQS Attachment Contents</ShortCut>
      <Description>Search - AQS Attachment Contents</Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[#Define Attachment Contet To Search for
$AttachmentContent = "Word"
$AQSString = "System.Message.AttachmentContents:$AttachmentContent"
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>