<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
        <SnippetType>SurroundsWith</SnippetType>
      </SnippetTypes>
      <Title>Search - AQS by RecievedDate Range</Title>
      <ShortCut>Search - AQS by RecievedDate Range</ShortCut>
      <Description>Search - AQS by RecievedDate Range</Description>
      <Author>Glen Scales</Author>
    </Header>
    <Snippet>
      <Declarations>
      </Declarations>
      <Code Language="powershell"><![CDATA[$Range = "01/01/1990..01/01/2008"   
$AQSString = "System.Message.DateReceived:" + $Range ]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>