<rules>
    <clear />
    <rule name="LowerCaseRule - not including querystring" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{PATH_INFO}" pattern=".*[A-Z]" ignoreCase="false" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(sitecore)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(sitecore modules)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/-/" negate="true" />
            <add input="{REQUEST_URI}" pattern=".*(-/media).*" negate="true" />
            <add input="{REQUEST_URI}" pattern=".*(~/media).*" negate="true" />
            <add input="{REQUEST_URI}" pattern=".*(~/icon).*" negate="true" />
            <add input="{REQUEST_URI}" pattern="WebResource.axd" negate="true" />
            <add input="{REQUEST_URI}" pattern="ScriptResource.axd" negate="true" />
            <add input="{REQUEST_URI}" pattern="jsnlog.logger" negate="true" />
            <add input="{REQUEST_URI}" pattern="Telerik.Web.UI.WebResource.axd" negate="true" />
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="POST" ignoreCase="true" negate="true" />
        </conditions>
        <action type="Redirect" url="/{ToLower:{R:1}}" appendQueryString="true" redirectType="Temporary" />
    </rule>
    <rule name="LowerCaseRule1" enabled="false" stopProcessing="true">
        <match url="[A-Z]" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
        <action type="Redirect" url="{ToLower:{URL}}" />
    </rule>
    <rule name="KCA redirect to www" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^kelseycareadvantage.com$" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/{R:1}" />
    </rule>
    <rule name="KSC redirect to www" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^kelsey-seybold.com$" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/{R:1}" />
    </rule>
    <rule name="Force SSL" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
    </rule>
    <rule name="KCA Healthy News Articles" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="already-a-member/member-tools-and-resources/healthy-news-articles(.*)" />
            <add input="{URL}" pattern="q2-2022-egwp/kelseycare-advantage-concierge-team(.*)" negate="true" />
            <add input="{URL}" pattern="q3-2022-egwp/kelseycare-advantage-concierge-team(.*)" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/members/healthy-living" appendQueryString="false" />
    </rule>
    <rule name="KCA Media Releases" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="why-kelseycare-advantage/kelseycare-advantage-news/media-releases(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/about/press-releases{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA News" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{URL}" pattern="why-kelseycare-advantage/kelseycare-advantage-news(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/members/healthy-living{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA Medical Benefits" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="already-a-member/medical-benefits(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/members/plan-benefits{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA Already A Member" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="already-a-member(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/members{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA New To Medicare" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="new-to-medicare(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/medicare-101{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA Find a Provider" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="choose-your-plan/find-a-doctor(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/explore-plans/find-a-provider{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA Choose Your Plan" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="choose-your-plan(.*)" />
            <add input="{URL}" pattern="/choose-your-plan/benefits/medication-therapy-management-program(.*)" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/explore-plans{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA Prepare to Enroll" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="prepare-to-enroll(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/enroll" appendQueryString="true" />
    </rule>
    <rule name="KCA Brokers" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="why-kelseycare-advantage/brokers(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/brokers{C:1}" appendQueryString="true" redirectType="Found" />
    </rule>
    <rule name="KCA Value Added Benefits" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="why-kelseycare-advantage/value-added-benefits(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/members/value-added-benefits{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA Why KCA" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{URL}" pattern="why-kelseycare-advantage(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/about{C:1}" appendQueryString="true" />
    </rule>
    <rule name="KCA Welcome Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="welcome/?$" />
            <add input="{URL}" pattern="why-kelseycare-advantage/welcome/?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/why-kelseycare-advantage/welcome?utm_source=tlg&amp;utm_medium=mail-letter&amp;utm_campaign=newmover" appendQueryString="false" />
    </rule>
    <rule name="KSC Guide" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="guide/?$" />
            <add input="{URL}" pattern="back-to-school-health-and-safety-guide/?$" negate="true" />
            <add input="{URL}" pattern="summer-sunscreen-guide/?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/make-an-appointment/medicare-advantage-plans?utm_source=print&amp;utm_medium=mail&amp;utm_campaign=age-in-qr-code&amp;eid=200001507" redirectType="Found" />
    </rule>
    <rule name="KCA Guide" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="guide/?$" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/why-kelseycare-advantage/compare?utm_source=tlg&amp;utm_medium=newspaper&amp;utm_campaign=medicareguide" redirectType="Found" />
    </rule>
    <rule name="KCA About Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="about-us(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/about/" appendQueryString="false" redirectType="Found" />
    </rule>
    <rule name="KSC About Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="about/?$" />
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/medical-services-and-specialties/plastic-surgery/about-us" appendQueryString="false" />
    </rule>
    <rule name="KCA Feedback" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="feedback(.*)" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/about/feedback" appendQueryString="false" />
    </rule>
    <rule name="KSC Feedback" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="feedback/?$" />
            <add input="{URL}" pattern="why-kelsey-seybold/feedback?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/why-kelsey-seybold/contact-us" appendQueryString="false" />
    </rule>
    <rule name="KSC Now Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="now/?$" />
            <add input="{URL}" pattern="make-an-appointment/appointments-now?$" negate="true" />
            <add input="{URL}" pattern="know?$" negate="true" />
            <add input="{URL}" pattern="for-employers/addkelsey/now?$" negate="true" />
            <add input="{URL}" pattern="westchase-now?$" negate="true" />
            <add input="{URL}" pattern="stafford-now?$" negate="true" />
            <add input="{URL}" pattern="fairfield-now?$" negate="true" />
            <add input="{URL}" pattern="ssh-now?$" negate="true" />
            <add input="{URL}" pattern="westu-now?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/make-an-appointment/appointments-now" appendQueryString="false" />
    </rule>
    <rule name="KCA Now Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="now/?$" />
            <add input="{URL}" pattern="enroll-now/?$" negate="true" />
            <add input="{URL}" pattern="switchnow/?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/why-kelseycare-advantage/compare?utm_source=tlg&amp;utm_medium=postcard&amp;utm_campaign=now" appendQueryString="false" />
    </rule>
    <rule name="KSC Webinars Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="webinars/?$" />
            <add input="{URL}" pattern="your-health-resources/webinars/?$" negate="true" />
            <add input="{URL}" pattern="baby-on-the-way/webinars/?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/your-health-resources/webinars" appendQueryString="false" />
    </rule>
    <rule name="KCA Webinars Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="webinars/?$" />
            <add input="{URL}" pattern="why-kelseycare-advantage/webinars/?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/why-kelseycare-advantage/webinars" appendQueryString="false" />
    </rule>
    <rule name="KSC Webinar Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="webinar/?$" />
            <add input="{URL}" pattern="your-health-resources/webinars/?$" negate="true" />
            <add input="{URL}" pattern="baby-on-the-way/webinar/?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/your-health-resources/webinars" appendQueryString="false" />
    </rule>
    <rule name="KCA Webinar Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="webinar/?$" />
            <add input="{URL}" pattern="why-kelseycare-advantage/webinars/?$" negate="true" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/why-kelseycare-advantage/webinars" appendQueryString="false" />
    </rule>
    <rule name="KSC COH Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="coh/?$" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/corporate-services/city-of-houston" appendQueryString="false" />
    </rule>
    <rule name="KCA COH Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="coh/?$" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/already-a-member/retiree-group-plans/city-of-houston" appendQueryString="false" />
    </rule>
    <rule name="KCA Shell Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="shell/?$" />
        </conditions>
        <action type="Redirect" url="https://www.kelseycareadvantage.com/already-a-member/retiree-group-plans/be-well-at-shell-kelseycare-advantage" appendQueryString="false" />
    </rule>
    <rule name="OBGYN Redirect" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="(.*)ob/gyn(.*)" />
        </conditions>
        <action type="Redirect" url="{C:1}ob%20gyn{C:2}" appendQueryString="false" />
    </rule>
    <rule name="HemOnc Redirect" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="(.*)hematology/oncology(.*)" />
        </conditions>
        <action type="Redirect" url="{C:1}hematology%20oncology{C:2}" appendQueryString="false" />
    </rule>
    <rule name="CDK" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}clinicadekelsey.com([/a-z0-9-]+)?$" />
        </conditions>
        <action type="Rewrite" url="https://www.kelsey-seybold.com/clinica-de-kelsey/%7bR:0%7d" />
    </rule>
    <rule name="CDK Find a Doctor" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,} /clinica-de-kelsey/$" />
            <add input="{URL}" pattern="encontrar-un-doctor-en-houston?$" />
        </conditions>
        <action type="Rewrite" url="https://kelsey-seybold.com/find-a-houston-doctor?language=Spanish" appendQueryString="false" />
    </rule>
    <rule name="CDK Covid-19" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,} /clinica-de-kelsey/$" />
            <add input="{URL}" pattern="covid-19?$" />
        </conditions>
        <action type="Rewrite" url="https://kelsey-seybold.com/clinica-de-kelsey" appendQueryString="false" />
    </rule>
    <rule name="CDK Find a Location" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,} /clinica-de-kelsey/$" />
            <add input="{URL}" pattern="encuentre-una-ubicacion?$" />
        </conditions>
        <action type="Rewrite" url="https://kelsey-seybold.com/clinica-de-kelsey/encuentre-una-ubicacion" />
    </rule>
    <rule name="Perm Redirect Rule" enabled="true" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{PermRedirects:{REQUEST_URI}}" pattern="(.+)" />
        </conditions>
        <action type="Redirect" url="{C:1}" appendQueryString="false" />
    </rule>
    <rule name="KCA Enroll Redirect" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelseycareadvantage\.com$" />
            <add input="{URL}" pattern="enroll-now/?$" />
        </conditions>
        <action type="Redirect" url="https://enrollment.kelseycareadvantage.com" appendQueryString="false" />
    </rule>
    <rule name="KSC Shell Redirect" enabled="false" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(www+\.){0,}kelsey-seybold\.com$" />
            <add input="{URL}" pattern="shell/?$" />
        </conditions>
        <action type="Redirect" url="https://www.kelsey-seybold.com/shell" appendQueryString="false" />
    </rule>
</rules>