<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web> </system.web>
    <system.webServer>
        <rewrite>
            <rules configSource="rewriteRules.config" />
            <rewriteMaps configSource="rewriteMaps.config" />
        </rewrite>
    </system.webServer>
</configuration>
