<html>
<head></head>
<body style="margin:0px; padding:0px; border: 0 none; font-size: 9px; font-family: verdana, sans-serif; background-color: #efefef;">
<!-- The style code below was original formatted for easy modification. Unfortunately, Gmail only supports inline style information so the code had to be moved to the corresponding tags to display correctly in Gmail.-->
<!-- I have left this style code commented out as a guide so you can use "Find & Replace" to quickly update the style tags throughout the template.-->
<!-- <style type="text/css">
    td p{margin-bottom: 10px;}
    body.ticket {margin:0px; padding:0px; border: 0 none; font-size: 9px; font-family: verdana, sans-serif; background-color: #efefef;}
    h1.title {margin-bottom:0px;}
    p.subtitle {color: #ccc;margin-top:0px;margin-bottom:0px;font-style: italic;}
    table.content {width: 700px; margin: 50px auto 50px auto; border: 1px #ccc solid; background: #fff; font-size: 11px; font-family: verdana, sans-serif;}
    td.uppercontent {border:0px;padding: 9px; color: #fff; background: #070075;}
    tr.lowercontent {padding: 10px;}
    td.leftcolumn {width: 400px; padding: 15px 0px 25px 25px; vertical-align: top;}
    td.rightcolumn {width: 240px; vertical-align: top; padding: 10px 18px 10px 6px;}
    div.rightcolumndiv{margin:15px 8px 15px;padding: 9px; border: 1px #ccc solid; font-size: 10px;}
    p.rcmessage {margin-top:5px;}
    a.links {color:#FF6600; text-decoration: none;}
    hr.rcdivider {height: 1px; color: #ccc;}
    p.tickethistory {margin-bottom:10px; margin-top:2px; font-style: italic;color: #606060;}
    table.ticket-sum-hist {border: 1px #ccc solid; background: #eee; width: 394px; font-size: 11px; font-family: verdana, sans-serif;}
    div.ticket-sum-histdiv {margin: 9px;}
    h2.ticket-sum-hist-titles {margin-bottom:5px; margin-top:10px; font-size:12px;}
    p.date {font-style: italic;margin-bottom:10px;}
  </style>-->
  <table style="width: 700px; margin: 50px auto 50px auto; border: 1px #ccc solid; background: #fff; font-size: 11px; font-family: verdana, sans-serif;" align="center">
    <tbody>
      <tr>
        <td colspan="2" style="word-wrap: break-word; border:0px;padding: 9px; color: #fff; background: #070075;">
          <h1 style="margin-bottom:0px;">Our Company Help Desk</h1>
          <p style="color: #ccc;margin-top:0px;margin-bottom:0px;font-style: italic;">Our ticket management system for tracking IT issues.</p>
        </td>
      </tr>

      <tr style="padding: 10px;">
        <td style="width: 400px; padding: 15px 0px 25px 25px; vertical-align: top;">
          <p style="margin-bottom: 10px;">{{recipient.full_name}},</p>

		   {% case event %} 

           {% when 'ticket-opened' %} 
		   {% case recipient.role %} 
		   {% when 'end_user' or 'reporting' %}

          <p style="font-style: italic;margin-bottom:10px;">A new ticket has been received by the Our Company Help Desk system.</p>
          <p style="margin-bottom: 10px;">Someone will contact you shortly.</p>
		  
		  {% when 'admin' or 'helpdesk_admin' %}

          <p style="font-style: italic;margin-bottom:10px;">A new ticket has been added to our Help Desk system.</p>
		  
		  {% endcase %} 

          {% when 'ticket-assigned' %} 
		  {% case recipient.role %}
		  {% when 'end_user' or 'reporting' %}
		  {% if ticket.assignee.full_name_or_email == null %}

          <p style="font-style: italic;margin-bottom:10px;">On {{ticket.last_comment.created_at | date_sw}},</p>
          <p style="font-style: italic;margin-bottom:10px;">Ticket #{{ticket.id}} was unassigned.</p>
		  
		  {% else %}

          <p style="font-style: italic;margin-bottom:10px;">On {{ticket.last_comment.created_at | date_sw}},</p>
          <p style="font-style: italic;margin-bottom:10px;">Ticket #{{ticket.id}} was assigned to <strong>{{ticket.assignee.full_name_or_email}}</strong>.</p>
		  
		  {% endif %} 
		  {% if events contains 'ticket-comment' %}

          <p style="font-style: italic;margin-bottom:10px;">With the comment:</p>
          <p style="margin-bottom: 10px;">{{ticket.last_comment.body | escape | simple_format}}</p>
		  
		  {% endif %}
		  {% when 'admin' or 'helpdesk_admin' %}

          <p style="font-style: italic;margin-bottom:10px;">Ticket #{{ticket.id}} created on {{ticket.created_at | date_sw}} has been assigned to<strong> {{ticket.assignee.full_name_or_email}}</strong> by <strong>{{ticket.last_comment.creator.full_name_or_email}}</strong>.</p> 
		  {% if events contains 'ticket-comment' %}

          <p style="font-style: italic;margin-bottom:10px;">With the comment:</p>
          <p style="margin-bottom: 10px;">{{ticket.last_comment.body | escape | simple_format}}</p>
		  
		  {% endif %}
		  {% endcase %} 

          {% when 'ticket-comment' %}

          <p style="font-style: italic;margin-bottom:10px;">On {{ticket.last_comment.created_at | date_sw }},
          <strong>{{ticket.last_comment.creator.full_name_or_email}}</strong> wrote:</p>
          {{ticket.last_comment.body | escape | simple_format}}

		  
		  {%when 'ticket-closed', 'ticket-closed-dup' %} {% case recipient.role %} {% when 'end_user' or 'reporting' %}

          {% if events contains 'ticket-closed-dup' %} 
<p>This ticket was closed as a duplicate of <a href="{{ticket.master_ticket_url | escape}}">Ticket #{{ticket.master_ticket}}</a>.</p>

{% else %}

<p style="font-style: italic;margin-bottom:10px;">On {{ticket.closed_at | date_sw}},</p> 
<p style="font-style: italic;margin-bottom:10px;"><strong>Ticket #{{ticket.id}} was closed.</strong></p>

{% endif %}
		  


		  <p style="font-style: italic;margin-bottom:10px;">With the comment:</p>
          <p style="margin-bottom: 10px;">{{ticket.last_comment.body | escape | simple_format}}</p>
		  
	

          <p style="font-style: italic;margin-bottom:10px;">Please do not reply to this email unless this ticket has not been closed to your satisfaction. If you would like to thank<strong> {{ticket.assignee.full_name_or_email}}</strong>, use the email link to the right.</p>
		  <!-- ************************************************************************** -->
		  <!-- The code below allows you to enter information that only the ticket creator will see when the ticket is closed. -->
		  <!-- This can be used to include a link to a survey form. Just remove the comment tags and replace text.-->
          <!-- 
		  {% if recipient.email == ticket.creator.email %}
		  <p style="font-style: italic;margin-bottom:10px;">This email is to the creator of this ticket.</p>
		  {% endif %}
		  	-->
          <!-- ************************************************************************** -->
		  {% when 'admin' or 'helpdesk_admin' %}

          {% if events contains 'ticket-closed-dup' %} 
<p>This ticket was closed as a duplicate of <a href="{{ticket.master_ticket_portal_url | escape}}">Ticket #{{ticket.master_ticket}}</a>.</p>

{% else %}

<p style="font-style: italic;margin-bottom:10px;">On {{ticket.closed_at | date_sw}},</p> 
<p style="font-style: italic;margin-bottom:10px;"><strong>Ticket #{{ticket.id}} was closed.</strong></p>

{% endif %}
		  


          <p style="font-style: italic;margin-bottom:10px;">With the comment:</p>
          <p style="margin-bottom: 10px;">{{ticket.last_comment.body | escape | simple_format}}</p>
		  

		  {% endcase %} 

          {% when 'ticket-reopened' %}
		  {% case recipient.role %}
		  {% when 'end_user' or 'reporting' %}

          <p style="font-style: italic;margin-bottom:10px;"><strong>Ticket #{{ticket.id}} has been reopened.</strong></p>
		  
		  {% if events contains 'ticket-comment' %}

          <p style="font-style: italic;margin-bottom:10px;">With the comment:</p>
          <p style="margin-bottom: 10px;">{{ticket.last_comment.body | escape | simple_format}}</p>

		  {% endif %}

          <p style="font-style: italic;margin-bottom:10px;">If this ticket has been re-opened in error, please click on the
          Ticket URL in the box to the right to close it</p>
		  
		  {% when 'admin' or 'helpdesk_admin' %}

          <p style="font-style: italic;margin-bottom:10px;"><strong>Ticket #{{ticket.id}} has been reopened.</strong></p>
		  
		  {% if events contains 'ticket-comment' %}

          <p style="font-style: italic;margin-bottom:10px;">With the comment:</p>

          <p style="margin-bottom: 10px;">{{ticket.last_comment.body | escape | simple_format}}</p>
		  
		  {% endif %}
		  {% endcase %} 

          {% endcase %} 


          <table style="table-layout: fixed; width: 394px; border: 1px #ccc solid; background: #eee; font-size: 11px; font-family: verdana, sans-serif;">
			<tr>
              <td word-wrap: break-word;>
                <div style="margin: 9px;">
                  <h2 style="margin-bottom:5px; margin-top:10px; font-size:12px;">TICKET #{{ticket.id}}</h2>

                  <p style="margin-bottom: 10px;"><strong>Summary:</strong> {{ticket.summary | escape}}</p>

                  <p style="margin-bottom: 10px;"><strong>Description:</strong></p>{{ticket.body | escape | simple_format}}
                </div>
              </td>
            </tr>
          </table>
          <!-- ************************************************************************** -->
		  {% case event %} 
          <!-- ************************************************************************** -->
          {% when 'ticket-opened' %} 
          <!-- If you have specific items that you want to display in certain circumstances, -->

          <!-- prior to the ticket summary.  I wanted a summary on each email that went out -->

          <!-- ************************************************************************** -->
          {% when 'ticket-assigned' %} 
          <!-- ************************************************************************** -->
          {% when 'ticket-comment' %} 
          <!-- ************************************************************************** -->
          {% when 'ticket-closed' %} 
          <!-- ************************************************************************** -->
          {% when 'ticket-reopened' %} 
          <!-- ************************************************************************** -->
          {% endcase %} 
          <!-- ************************************************************************** --><br />

          {% if ticket.previous_comments != empty %}

          <table style="table-layout: fixed; border: 1px #ccc solid; background: #eee; width: 394px; font-size: 11px; font-family: verdana, sans-serif;">
            <tr>
              <td word-wrap: break-word;>
                <div style="margin: 9px;">
                  <h2 style="margin-bottom:5px; margin-top:10px; font-size:12px;">Ticket History</h2>
				  
				  {% for comment in ticket.previous_comments %}

				  <hr />

                  <p style="margin-bottom:10px; margin-top:2px; font-style: italic;color: #606060;">On {{comment.created_at | date_sw }}
                  {{comment.creator.full_name_or_email}} wrote:</p>
				  {% if comment.is_note %}<div style="color: RED;">
                  {{comment.body | escape | simple_format}}</div>
				  {% else %}
				  {{comment.body | escape | simple_format}}
				  {% endif %}
				  {% endfor %}

				</div>
              </td>
            </tr>
          </table>
		  
		  {% endif %}
		  
		  <br />
          <br />
        </td>

        <td style="width: 240px; vertical-align: top; padding: 10px 18px 10px 6px">
          <div style="margin:15px 8px 0px 10px;padding: 9px; border: 1px #ccc solid; font-size: 10px;">
            <strong>TICKET #</strong>{{ticket.id}}
            <hr style="height: 1px; color: #ccc;" />
            <strong>Date:</strong> {{ticket.created_at | date_sw}}<br />
            <br />

            <strong>Creator:</strong> <a style="color:#FF6600; text-decoration: none;" href=
            "mailto:{{ticket.creator.email}}?subject={{ticket.ref}} {{ticket.summary}}">{{ticket.creator.full_name_or_email}}</a><br />
<strong>Department:</strong> {{ticket.creator.department}}<br> 
<strong>Office Phone:</strong> {{ticket.creator.office_phone}}<br> 
<strong>Cell Phone:</strong> {{ticket.creator.cell_phone}}<br>



            <br />
            <strong>Assignee:</strong> <a style="color:#FF6600; text-decoration: none;" href=
            "mailto:{{ticket.assignee.email}}?subject={{ticket.ref}} {{ticket.summary}}">{{ticket.assignee.full_name_or_email}}</a><br />

<strong>Department:</strong> {{ticket.assignee.department}}<br> 
<strong>Office Phone:</strong> {{ticket.assignee.office_phone}}<br> 
<strong>Cell Phone:</strong> {{ticket.assignee.cell_phone}}<br><br />
			<!--Begin CC name list loop-->
			<strong>CC:</strong>
			{% for user in ticket.users%}
			{% if user.full_name_or_email != ticket.assignee.full_name_or_email and user.full_name_or_email != ticket.creator.full_name_or_email %}
			{% if forloop.last %} 
			<a style="color:#FF6600; text-decoration: none;" href="mailto:{{user.email}}?subject={{ticket.ref}} {{ticket.summary}}">{{user.full_name}}</a>
			{%else%}
			<a style="color:#FF6600; text-decoration: none;" href="mailto:{{user.email}}?subject={{ticket.ref}} {{ticket.summary}}">{{user.full_name}}</a>,
			{%endif%}{%endif%}{%endfor%}
			<br/>
			<!--End CC name list loop--><br />
            <strong>Ticket URL:</strong> <a style="color:#FF6600; text-decoration: none;" href=
            "{% if recipient.role == 'admin' or recipient.role == 'helpdesk_admin' %}
				{{ticket.url}}
			{% else %}
				{{ticket.portal_url}}
			{% endif %}">
            Ticket #{{ticket.id}}</a><br /><br />
            <strong>Priority:</strong> {{ticket.priority}}<br />
            <br />
{% if recipient.role == 'admin' or recipient.role == 'helpdesk_admin' %}
				<strong>Category:</strong> {{ticket.category}}<br /><br />
<strong>Related to:</strong> {{ticket.related_to}}<br />
			{% endif %}
            <hr style="height: 1px; color: #ccc;" />

            <p style="margin-top:5px;">If you have any additional information regarding
            this ticket respond to this email. Please remember to keep
            <strong>{{ticket.ref}}</strong> in the email subject. You can also log into
            the Help Desk system <a style="color:#FF6600; text-decoration: none;" href=
            "{% if recipient.role == 'admin' or recipient.role == 'helpdesk_admin' %}
				{{ticket.url}}
			{% else %}
				{{ticket.portal_url}}
			{% endif %}">
            here</a> to post a comment and view other tickets.</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>